.mapa{
    height: 45rem;
    margin-top: 5rem; 

    &__heading{
        margin: 0;
        text-align: left;
        font-size: 2.4rem;
    } 

    &__texto{
        font-size: 2rem;
        margin: 0;
    }
}